<!-- index.html -->
{% extends "admin/admin_base.html" %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Página Inicial</h1>
        <ol class="breadcrumb mb-4">
        </ol>
        <div class="row justify-content-center">

            <div class="col-xl-3 col-md-4">
                <div class="card bg-primary text-white mb-4">

                    <i class="card-img-top fas fa-users" style="height: 100px; padding-top: 8%; padding-bottom: 8%;"></i>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/admin/people/">Pessoas</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4">
                <div class="card bg-success text-white mb-4">

                    <i class="card-img-top fa-solid fa-seedling" style="height: 100px; padding-top: 8%; padding-bottom: 8%;"></i>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/admin/plant/">Plantas</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-4">
                <div class="card bg-warning text-white mb-4">

                    <i class="card-img-top fa-solid fa-lightbulb" style="height: 100px; padding-top: 8%; padding-bottom: 8%;"></i>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/admin/iot/">IOT</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div> -->
        
    </div>
</main>
{% endblock main %}